#mainroutes {
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
}

#conditionalroutes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
